@model ProyectoCompartido.Venta;

<h1>Confirmar Eliminacion</h1>

<div>
    <h5>Estas seguro que deseas eliminar el producto?</h5>
    <h6>Id de la Venta: @Model.Id</h6>
    <h6>Fecha: @Model.Fecha</h6>
    <h6>Id del Producto Comprado: @Model.IdProducto</h6>
    <h6>Precio de el Producto: @Model.PrecioVenta</h6>
    <h6>Cantidad Vendida: @Model.CantidadVendida</h6>
    <h6>Total de la Venta: @Model.TotalVenta</h6>
</div>

<form asp-action="ConfirmarEliminacionVenta" method="post" asp-route-id="@Model.Id">
    <input type="hidden" name="_method" value="DELETE" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <button asp-action="Index" class="btn btn-dark">Cancelar</button>
</form>